<ion-header>

  <ion-navbar>
    <ion-title>Oversikt</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-card *ngFor='let book of books | async'>
    <div>
      <div class="card-title">
        <h2>{{book.title}}</h2>
      </div>
      <div *ngIf="book.img" class="card-image" style="float:left">
        <img [src]="book.img" />
      </div>
      <div class="card-info">
        <p>{{book.writer}}</p>
        <p class="card-info-publisher">
          {{book.publisher}} ({{book.published_year}})
        </p>
      </div>
    </div>
  </ion-card>

</ion-content>