<ion-header>

  <ion-navbar>
    <ion-title>Oversikt</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-card *ngFor='let book of books | async' (click)="goToDetails(book)">
    <div>
      <div class="card-title">
        <h2>{{book.title}}</h2>
      </div>
      <div class="card-image" style="float:left">
        <ion-img *ngIf="book.img" [src]="book.img"></ion-img>
        <ion-img *ngIf="!book.img" src="../../../resources/images/ingen_bilde.png"></ion-img>
      </div>
      <div class="card-info">
        <p>{{book.writer}}</p>
        <p class="card-info-publisher">
          {{book.publisher}} ({{book.published_year}})
        </p>
      </div>
    </div>
  </ion-card>

</ion-content>
